/*
!/.gitignore
!/*plan.md
!/*Plan.md
!/review_report.md
!/*Report.md
!/*report.md

*.py[cod]
__pycache__/
pytest_cache/

!/TaskInstruction/
/TaskInstruction/*
!/TaskInstruction/README.md
!/TaskInstruction/*.json

!/tools/
